/*
Creator: Maisy Dodge
Date created: 06/24/2019
Date last modified:
*/
body {
    background-color: #CECFD1;
    font-family: arial, helvetica, sans-serif;
    color: #31263E;
    max-width: 1000px;
    margin: 0 auto;
}
header, footer{
    background-color: #31263E;
    color: #FFD365;
    height: 100px;
    text-align: center;
    padding: 30px 10px 20px 10px;
}
h1 {
    font-size: 2.5em;
}
nav {
    border-top: 3px dashed #69A197;
    border-bottom: 3px dashed #69A197;
    margin-top: 3px;
}
.clear-float {
    clear:both;
}
article img {
   float:left;
}
.right-content {
    float:left;
}
article {
    margin-bottom: 16px;
}

/* Nav styling */
nav a {
    background-color: #69A197;
    color: #31263E;
    padding: 8px;
    border: thin solid #31263E;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: 20px;
    width: 100px;
    float: left;
}
nav a:visited {
    color: #734B5E;
}
nav a:hover {
    background-color: #FFD365;
    color: #31263E;
}
nav a:active {
    font-weight: bold;
    color: #31263E
}

/* Form styling */
label, fieldset{
    font-size: 1.1em;
}

input[type=text] {
    border: 2px solid #31263E;
    width: 50%;
    padding: 8px 8px;
    margin: 12px 0;
    box-sizing: border-box;
    font-size: 1.1em;
}

fieldset {
    background-color: #CECFD1;
    width: 100%;
    padding: 12px 20px;
    margin: 12px 0;
    box-sizing:	border-box;
}

select, textarea {
    margin: 12px 0;
    font-size: 1em;
}

input[type=submit] {
    font-size: 1.2em;
    background-color: #69A197;
    color: #31263E;
    padding: 4px 8px;
}

input[type=submit]:hover {
    background-color: #FFD365;
    color: #31263E;
}

textarea {
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    margin: 12px 0;
    box-sizing: border-box;
    border: 2px solid #31263E;
    border-radius: 3px;
    background-color: #fff;
    resize: none;
}
